@import url(reset.css);
.one{
	background-color: red;
	height: 5  n0px;
	display: fixed;
	font-family: 'Odibee Sans', cursive;
	color:  white;
}
div{
	padding: 10px;

}
h1{
	display: inline-block;
}
.inner{
	border-radius: 50px;
	border-top: 5px double yellow;
		width: 200px ;
	height: 300px;
	border-top: 5px double yellow;
	border-left : 5px double yellow;
	border-bottom:5px double yellow;
	border-right: 5px double yellow;
	border-radius: 50px;
	display: inline-block;
	vertical-align: top;
	margin: 50px;
}
a{
	position: absolute;
	right: 10px;
	bottom:10px;
}