@import url(reset.css)

}
main{
	font-family: 'Bangers', cursive;
	text-orientation: center;
	
}
img{
	height: 500px;
	width: 700px;
}
.header_words{
	font-family: 'Orbitron', sans-serif;
	text-orientation: center;
	width: 700px;
	height: 50px;
	border-radius: 5px;
	background-image: linear-gradient(to left bottom , orange,black );
}
body{
	background-color: white;
	background-position: center;
	background-attachment: fixed;
	
	color: rgb(73,165,186);

}
a{
	text-decoration: none;

}
