@import url(reset.css)
.header{

	background-color: red;
	background-image: url(../img/background.img);
	
}
main{
	font-family: 'Bangers', cursive;
	text-orientation: center;

}
.header_words{
	font-family: 'Orbitron', sans-serif;
}
body{
	background-image: url(../img/background.img);
	background-position: center;
	background-attachment: fixed;
	background-color: black;
	color: rgb(73,165,186);

}