@import url(reset.css);
*{
	box-sizing: border-box;
	text-align: center;
font-family: Helvetica;
font-size: 20px;
line-height: 23px;

}
.header,footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
height: 90px;
background: #F8BFC7;
margin:auto;
font-size: 20px;



}
.page{
	width: 1440px;

}

.content{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:auto;
	width: 1440px;
	width: 1440px;
height: 643px;

	
	padding-bottom: 100%;
	background-size: cover ;
	background-repeat: no-repeat;
	background-position:center;
	background-image:  url(https://wokkta.github.io/WEbDEv_MCS/practice_10/Img/background.jpg);
	background-color:blue ;
	padding-top: 90px;
	padding-bottom:10px ;/*двигает footer*/
	}
.congratulations{
	display: flex;
align-items: center;
text-align: center;
justify-content: center;

color: #FEB700;
top: 763px;
font-size: 50px;
line-height: 57px;
margin-top: 181px;

}
.header_choise{
	display: flex;
	width: calc((100%/2) - 350px);
	justify-content: space-between;
	
}
.name.Menu{
	padding-left: 300px;
}
.name{
	width: calc((100%/3) - 10px);
}
.reguest{
	display: block;
	width: calc(300px);
	background: #F8BFC7;
border: 3px solid #FFFFFF;
box-sizing: border-box;
border-radius: 20px;
margin-bottom: 10px;
}
input,select,textarea{
	display: block;
	width: 280px;
	font-size: 20px;
	color:darkgrey;
	border: 1px solid black;
}
input{
	height: 30px;
	width: 280px;
}
label,span,fieldset{
	line-height: 2rem;
	font-size: 20px;
}
input:focus, select:focus, textarea:focus{
	outline:none;
}
form{
	width: 80%;
	margin: auto;
}
input[type="radio"],input[type="checkbox"]{
	display: inline-block;
	width: 20px;
	vertical-align: middle;
}
label{
	display: block;
	color: white;
}
textarea{
	height: 200px;
}
input[type="submit"]{
	background-color:  #FEB700;
	color:white;
	height: 50px;
	cursor:pointer;
	border: 3px solid #FFFFFF;
	border-radius: 30px;
	width: 300px;
}
input[type="submit"]:hover{

}
a{
	text-decoration: none;
	color: white;
}
input[type="email"]{
	width: 280px;
	margin-left: 7.5px;
	margin-bottom: 4px;
}