@import url(reset.css);
*{
	box-sizing: border-box;
	text-align: center;
font-family: Helvetica;
font-size: 20px;
line-height: 23px;
}
.header,footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
height: 90px;
background: #F8BFC7;
margin:auto;
}
.content{
	width: 1440px;
height: 643px;
	/*background-image:  url(Img/background.img);*/
	background-image: url(https://wokkta.github.io/WEbDEv_MCS/practice_8/Img/Samosa_Sweet_Potatoes_Wraps_with_Tofu_Scramble.jpg);
}