@import url(reset.css);
*{
	box-sizing: border-box;
	text-align: center;
font-family: Helvetica;
font-size: 20px;
line-height: 23px;

}
.header,footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
height: 90px;
background: black;
padding: 0 10px;
font-size: 20px;
width: 100vw;
color: white;




}
.page{
	width:100vw;
	height: 100vh;

}
.reguest{
	align-items: center;
	align-self: center;
	justify-content: space-around;
	display: flex;
	width: calc(300px);
	background: #F8BFC7;
border: 3px solid #FFFFFF;
box-sizing: border-box;
border-radius: 20px;
margin-bottom: 10px;
min-height: 264px;
}


.content{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:auto;
	width: calc(100vw);
	height: calc(100vh - 180px);

	
	padding-bottom: 100%;
	background-size: cover ;
	background-repeat: no-repeat;
	background-position:center;
	background-color:white ;
	padding-top: 90px;
	padding-bottom:10px ;/*двигает footer*/
	align-items:  center;
	}
.header_choise{
	display: flex;
	width: calc((100%/2) - 850px);
	justify-content: space-between;

	
}

.congratulations{
	display: flex;
align-items: center;
text-align: center;
justify-content: center;
align-self: center;
color: #FEB700;
font-size: 50px;
line-height: 57px;
}
input,select,textarea{
	display: block;
	width: 280px;
	font-size: 20px;
	color:white;
	border: 1px  solid #F8BFC7;
	border-bottom: 1px solid white;
	background: #F8BFC7;
}
input{
	height: 30px;
	width: 280px;
}
label,span,fieldset{
	line-height: 2rem;
	font-size: 20px;
}
input:focus, select:focus, textarea:focus{
	outline:none;
}
form{
	width: 80%;
	margin: auto;
}

input[type="radio"],input[type="checkbox"]{
	display: inline-block;
	width: 20px;
	vertical-align: middle;
}
label{
	display: block;
	color: white;
}
textarea{
	height: 200px;
}
input[type="submit"]{
	display: flex;
	align-self: center;
	background-color:  #FEB700;
	color:white;
	height: 60px;
	cursor:pointer;
	border: 3px solid #FFFFFF;
	border-radius: 30px;
	width: 300px;
}
input[type="submit"]:hover{
	color: blue;
}
a{
	text-decoration: none;
	color: white;
}
input[type="email"]{
	width: 280px;
	margin-left: 7.5px;
	margin-bottom: 4px;
}
::placeholder { 
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}

@media screen and (min-width: 604px){
	.page{
	width:100vw;
	height: 100vh;

}
.header,footer{

background: #F8BFC7;




}
.header a{
	color: black;
}
footer{
	color: white;
}
.reguest{
	align-self: flex-start;
	margin-left: 90px;

}
.content{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:auto;
	justify-content: space-around;
	width: calc(100vw);
	height: calc(100vh - 180px);


	
	padding-bottom: 100%;
	background-size: cover ;
	background-repeat: no-repeat;
	background-position:center;
	background-image:  url(https://wokkta.github.io/WEbDEv_MCS/practice_10/Img/background.jpg);
	background-color:blue ;
	padding-top: 90px;
	padding-bottom:10px ;/*двигает footer*/
	
	}
.congratulations{
	display: flex;
align-items: center;
text-align: center;
justify-content: center;
align-self: center;
color: #FEB700;
font-size: 50px;
line-height: 57px;



}
input[type="submit"]{
	align-self: flex-start;
	margin-left: 90px;
}

}