.linear{
	width: 300px;
	height: 200px;
	background-image: linear-gradient(to right bottom,black 10%,purple, red 30%, white  );
}
.radial{
	width: 500px;
	height: 500px;
	background-image: radial-gradient(black 0%,red 30%)
}
.shadow{
	width: 300px;
	height: 500px;
	box-shadow: 0px 0px 5px grey;
	border-radius: 5px;
}