@import url(reset.css);

.header{
display: flex;
width: 100vw;
background-color: #FEB700;
max-height: 160px;
}
.text{
width: 100%
height: 100%;
font-family: Times New Roman;
font-size: 50px;
line-height: 57px;
text-align: center;
padding: auto;
}
.types{
	align-content: stretch;
	display: flex;
	justify-content: space-around;
	border: 1px solid black;
	box-sizing: border-box;

}
.page{
	width: 1440px;
	height: 2426px;<!--заменитьна100отокнадлявысотыишир-->
	

}
.types_1{
	background-image: url(https://wokkta.github.io/WEbDEv_MCS/practice6//Img/wang.jpg);
	height:1000px;
	width: 300px;
		background-size: cover ;<!--Contein-->
	background-repeat: no-repeat;
}

.types_2{

	background-image: url(https://wokkta.github.io/WEbDEv_MCS/practice6//Img/wang.jpg);
	height:1000px;
	width: 300px;
		background-size: cover ;<!--Contein-->
	background-repeat: no-repeat;
}
.types_3{

	background-image: url(https://wokkta.github.io/WEbDEv_MCS/practice6//Img/wang.jpg);
	height:1000px;
	width: 300px;
	background-size: cover ;<!--Contein-->
	background-repeat: no-repeat;
}
.menu{
	margin: auto;
}
.footer{

width: 100vw;
background-color: #FEB700;
max-height: 160px;
}