@import url(reset.css);
*{
	box-sizing: border-box;
}

.header{
display: flex;
width: 100vw;
background-color: #FEB700;
max-height: 160px;
}
.text{
width: 100%
height: 100%;
font-family: Times New Roman;
font-size: 50px;
line-height: 57px;
text-align: center;
padding: auto;
}
.column{
	border: 1px solid black;
	width: calc((100%-100px)/3);
	left: 20px;


}
.column{
	border: 1px solid black;
	width: calc((100%-100px)/3);
	left: 20px;


}
.column{
	border: 1px solid black;
	width: calc((100%-100px)/3);
	left: 20px;


}
.columns{
	display: flex;
	padding-top: 100px;
	width: 100vw;
	margin:auto;
	justify-content: space-between;
	align-items: stretch;
	min-height: 500px;
	

}
.page{
	width: 100vh;
	height: calc(100vh - 160px);/*<!--заменитьна100отокнадлявысотыишир-->*/
	flex-wrap:wrap;




}
.image_1{
	background-image: url(https://wokkta.github.io/WEbDEv_MCS/practice_8/Img/Samosa_Sweet_Potatoes_Wraps_with_Tofu_Scramble.jpg);
	padding-bottom: 100%;
	background-size: cover ;
	background-repeat: no-repeat;
	background-position:center;
	left: 70px;
	top: 230px;
}

.image_2{

	background-image: url("https://wokkta.github.io/WEbDEv_MCS/practice_8/Img/Frozen Yogurt Breakfast Bars.jpg");
	padding-bottom: 100%;
	background-size: cover ;
	background-repeat: no-repeat;
	
	background-position:center;
	left: 70px;
	top: 230px;
}
.image_3{

	background-image: url("https://wokkta.github.io/WEbDEv_MCS/practice_8/Img/Healthiest Ever Granola.jpg");
	padding-bottom: 100%;
	background-size: cover ;
	background-repeat: no-repeat;
	background-position:center;
	left: 70px;
	top: 230px;
}
.menu{
	margin: auto;
}
.footer{
position: absolute;
display: inline-block;
bottom: 0px;
width: 100vw;
background-color: #FEB700;
max-height: 160px;
}
.end{
	display:flex;
justify-content:space-between;
}
