@import url(reset.css);
*{
	box-sizing: border-box;
}
.header{
display: flex;
width: 100vw;
background-color: #FEB700;
max-height: 160px;
}
.text{
width: 100%
height: 100%;
font-family: Times New Roman;
font-size: 50px;
line-height: 57px;
text-align: center;
padding: auto;
}
.border{
	border: 1px solid black;
	display: flex;
	align-items: center;

}
.types{
	align-content: stretch;
	display: flex;
	justify-content: space-around;
	padding-right: 50px;
	padding-left:50px;
	width: auto;

}
.text_main{
	align-content: stretch;
	display: flex;
	justify-content: space-around;
	padding-right: 50px;
	padding-left:50px;
	width: auto;

}
.page{
	width: 1440px;+
	height: calc(100vh - 160px);<!--заменитьна100отокнадлявысотыишир-->
	flex-wrap:wrap;


}
.types_1{
	background-image: url(https://wokkta.github.io/WEbDEv_MCS/practice_8/Img/Samosa_Sweet_Potatoes_Wraps_with_Tofu_Scramble.jpg);
	height:1000px;
	background-size: cover ;<!--Contein-->
	background-repeat: no-repeat;
	border: 1px solid red;
	
	width: 400px;
	height: 600px;
	left: 70px;
	top: 230px;
}

.types_2{

	background-image: url(https://wokkta.github.io/WEbDEv_MCS/practice_8/Img/Samosa_Sweet_Potatoes_Wraps_with_Tofu_Scramble.jpg);
	height:1000px;
	background-size: cover ;<!--Contein-->
	background-repeat: no-repeat;
	border: 1px solid red;
	
	width: 400px;
	height: 600px;
	left: 70px;
	top: 230px;
}
.types_3{

	background-image: url(https://wokkta.github.io/WEbDEv_MCS/practice_8/Img/Samosa_Sweet_Potatoes_Wraps_with_Tofu_Scramble.jpg);
	height:1000px;
	background-size: cover ;<!--Contein-->
	background-repeat: no-repeat;
	border: 1px solid red;
	
	width: 400px;
	height: 600px;
	left: 70px;
	top: 230px;
}
.menu{
	margin: auto;
}
.footer{
position: absolute;
display: inline-block;
bottom: 0px;
width: 100vw;
background-color: #FEB700;
max-height: 160px;
}
.free_place{
	height: 100px;
	width: 100px;
}
.a{
	right: 0px;

}
.date{
	left: 0px;

}
.end{
	display:flex;
justify-content:space-between;
}