@import url(reset.css);
*{
	box-sizing: border-box;
}

.header{
display: flex;
width: 100vw;
background-color: #FEB700;
min-height: 160px;
}
.text{
width: 100%
height: 100%;
font-family: Times New Roman;
font-size: 50px;
line-height: 57px;
text-align: center;
padding: auto;
}
.column{
	border: 1px solid black;
	width: calc((100% - 100px)/3);
	


}
.column{
	border: 1px solid black;
	width: calc((100% - 100px)/3);
	


}
.column{
	border: 1px solid black;
	width: calc((100% - 100px)/3);
	


}
.columns{
	display: flex;
	padding-top: 100px;
	width: 100vw;
	margin:auto;
	justify-content: space-around;
	align-items: stretch;
	min-height: 100vh;
	

	

}
.page{
	width: 100vw;
	height: calc(100vh - 360px);
	




}
.image_1{
	background-image: url(https://wokkta.github.io/WEbDEv_MCS/practice_8/Img/Samosa_Sweet_Potatoes_Wraps_with_Tofu_Scramble.jpg);
	padding-bottom: 100%;
	background-size: cover ;
	background-repeat: no-repeat;
	background-position:center;
}

.image_2{

	background-image: url("https://wokkta.github.io/WEbDEv_MCS/practice_8/Img/Frozen Yogurt Breakfast Bars.jpg");
	padding-bottom: 100%;
	background-size: cover ;
	background-repeat: no-repeat;
	
	background-position:center;
}
.image_3{

	background-image: url("https://wokkta.github.io/WEbDEv_MCS/practice_8/Img/Healthiest Ever Granola.jpg");
	padding-bottom: 100%;
	background-size: cover ;
	background-repeat: no-repeat;
	background-position:center;
}
.menu{
	margin: auto;
}
.footer{

display: flex;

width: 100vw;
background-color: #FEB700;
min-height: 160px;
align-items: center;
text-align: center;
margin-top: 100vh;


}
.end{
	width: 100vw;
	display:flex;
justify-content:space-between;
margin:20px;
font-family: Times New Roman;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 57px;
}
h1{
	margin:10px 0;
}
