@import url(reset.css);


body{
	height: 3300px;
	width: 1440px;

}

.one{
 left: 0px;
 top: 0px;
 border:4px double black;
}
.menu{
	display: flex;
	justify-content: space-between;
}
.header{
	display: flex;
	justify-content: space-between;
}