@import url(reset.css);


body{
	height: 3300px;
	width: 1440px;

}


.menu{
	width: 150px;
	display: flex;
	justify-content: space-between;
}
.header{
	display: flex;
	justify-content: space-between;
	margin: auto;
}
.img{
	background-image: url(/img/evian.img);
	height: 950px;
	width: 1440px;
}
.main_text{
	align-self: center;
	 border:4px double black;
}
.end_words{
	justify-content: flex-end;
}