@import url(reset.css);


body{
	height: 3300px;
	width: 1440px;

}
.logo{
	align-content: flex-start;
}

.menu{
	width: 150px;
	display: flex;
	justify-content: space-between;
}
.header{
	display: flex;
	justify-content: space-between;
	margin: auto;
}
.img{
	background-image: url(../img/evian.jpg);
	background-size: cover ;<!--Contein-->
	background-repeat: no-repeat;
	background-position: center;
	height: 950px;
	width: 1440px;
}
.main_text{
	width: 932px;
	height: auto;
	align-self: center;
	 border:4px solid #F8BFC7;
	 border-radius:5px;
}
.end_words{
	display: flex;
	justify-content: flex-end;
}
.bottles{
	display: flex;
	width: auto;
	justify-content: space-around;
	
}
.bottles_flex_box{
	width: 100px;
}
.page{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.freeplace{
	height: 100px;
}
.bottles_image{
	display: flex;
	justify-content: space-around;
	
}
.bottles-img1{
	height:1000px;
		width: 300px;
	background-image: url(../img/wang.jpg);
	background-size: cover ;<!--Contein-->
	background-repeat: no-repeat;
}
.bottles-img2{
	height:1000px;
		width: 300px;
	background-image: url(../img/blue.jpg);
	background-size: cover ;<!--Contein-->
	background-repeat: no-repeat;
}
.bottles-img3{
	height:1000px;
		width: 300px;
	background-image: url(../img/chiara.jpg);
	background-size: cover ;<!--Contein-->
	background-repeat: no-repeat;
}
.copyright{
	display: flex;
	justify-content: flex-start;
	align-items:  center;
	background-color: #F8BFC7;
	height: 50px;

}
.er{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}