@import url(reset.css);


body{
	height: 3300px;
	width: 1440px;

}


.menu{
	width: 150px;
	display: flex;
	justify-content: space-between;
}
.header{
	display: flex;
	justify-content: space-between;
	margin: auto;
}
.img{
	background-image: url(/img/evian.jpg);
	height: 950px;
	width: 1440px;
}
.main_text{
	align-self: center;
	 border:4px double black;
}
.end_words{
	display: flex;
	justify-content: flex-end;
}
.bottles{
	display: flex;
	width: auto;
	justify-content: space-around;
	
}
.bottles_flex_box{
	width: 100px;
}
.page{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.freeplace{
	height: 100px;
}