@import url(reset.css);
*{
	box-sizing: border-box;
}
body{
	width: 100vw;
	height: 100vh;
}
.header{
	height: 100px;
	background-color: #0000FF;
	width: 100vw;
	color:white;
align-items: center;
font-family: Helvetica;
font-size: 25px;
line-height: 29px;
display: flex;


}
footer{
	bottom: 0px;
	height: 100px;
	background-color: #0000FF;
	width: 100vw;
	color:white;
	display: flex;
	justify-content: space-between;
	align-items: center;
text-align: center;
font-family: Helvetica;
font-size: 25px;
line-height: 29px;
}
.materials{
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 57px;
	display: flex;
	align-items: center;
	text-align: center;
	border:5px solid black;
	height: 300px;
	width: calc((100% - 100px)/4);
	max-width: 600px;
	

}
.content{
	display: flex;
	 width: calc(100% - 100px);
	justify-content: space-around;
	margin:auto;
	
	padding-top: 102px;
	padding-bottom:102px;


	
}
a{
	color:white;
	text-decoration: none;
}
@media screen and (max-width: 600px){
	header	{
		width: 100%;
		background-color: black;

	}
	.content{
		width: calc(100%-46px);
		flex-direction: column;
		text-align: center;


		
	}
	.materials{
		width: 100%;
		margin-top: 20px;



	}
}