@import url(reset.css);
*{
	box-sizing: border-box;
}
.header{
	height: 100px;
	background-color: #0000FF;
	width: 100vw;
	color:white;
align-items: center;
font-family: Helvetica;
font-size: 25px;
line-height: 29px;
display: flex;
align-items:  center;
flex-grow: 1;

}
footer{
	bottom: 0px;
	height: 100px;
	background-color: #0000FF;
	width: 100vw;
	color:white;
	display: flex;
	justify-content: space-between;
	align-items: center;
text-align: center;
font-family: Helvetica;
font-size: 25px;
line-height: 29px;
}
.materials{
	font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 57px;
display: flex;
align-items: center;
text-align: center;
border:5px solid black;
height: 300px;
}
.content{
	flex-grow: 2;
	display: flex;
	width: 100vw;
	justify-content: space-around;
	margin:auto;
	flex-direction: ;
}
body{
	display: flex;
	flex-direction: column;
}