@import url(reset.css);
*{
	box-sizing: border-box;
}
.header{
	height: 100px;
	background-color: #0000FF;
	width: 100vw;
	color:white;
align-items: center;
font-family: Helvetica;
font-size: 25px;
line-height: 29px;
display: flex;


}
footer{
	bottom: 0px;
	height: 100px;
	background-color: #0000FF;
	width: 100vw;
	color:white;
	display: flex;
	justify-content: space-between;
	align-items: center;
text-align: center;
font-family: Helvetica;
font-size: 25px;
line-height: 29px;
}
.materials{
	font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 57px;
display: flex;
align-items: center;
text-align: center;
border:5px solid black;
height: 300px;
}
.content{
	display: flex;
	width: 100vw;
	justify-content: space-around;
	margin:auto;

	height: 1024px;
	
}
@media screen and (max-width: 600px){
	header	{
		width: 100%;
		background-color: black;

	}
	content{
		width: 100%;
		background-color: red;
		flex-direction: column;
	}
	footer{
		background-color: black;
	}
}