@import url(reset.css);
*{
	box-sizing: border-box;
	font-family: Space Mono;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
}
div{
	text-align: center;

}
header{
	display: flex;
	justify-content: center;
	font-family: Arial;
font-style: italic;
font-weight: bold;
font-size: 60px;
line-height: 69px;
/* identical to box height */

letter-spacing: -0.05em;
color: white;

	margin:auto;
	margin-top:118px;
	margin-bottom: 50px;
}
.time{
	margin-bottom: 50px;
}
.logo{
	color:white;
	background-color: red;


}
.lenth{
	margin: 50px 0px 50px 0px;
}
.date{
	margin: 50px 0px 0px 0px;
	display: flex;
	justify-content: flex-start;
}
a{
	text-decoration: none;
	color:black;
}
.image{
	display: flex;
	justify-content: center;
	width: calc(390px - 20px);
	margin:auto;
	height: 260px;
	background-color:black;

	background-size: cover ;
	background-repeat: no-repeat;
	background-position:center;
}
.why{
	display: flex;
	justify-content: flex-start;
	margin: 10px 2px 20px 0px;
}
.content{
}
@media screen and(min-width: 604px){
	header{

	}
	.content{
		display: flex;
		justify-content: center;
		max-width: 30em;
}
}