@import url(reset.css);
div{
	width: 300px;
	height: 300px;
	background-color: blue;
	margin: 20px auto;
	transition-duration: 1s;
  }
  /*сдвиг эл*/
.translate:hover{
 transform: translate(20px, 50px);
}
.rotate:hover{
 transform: rotate(-30deg);
}
.skew:hover{
 transform: skew(20deg,0deg);
}
.scale:hover{
 transform: scale(1.5,1.5);
}