@import url(reset.css);
@keyframes moving{
	0%{
		top: 0;
		left: 0;
	}
	50%{
		top: 400px;
		left: 600px;
	}
	100%{
		top: 300px;
		left:500px;
		background-color: green;
	}
}
body{
	background: red;
}

.ball{
	width: 200px;
	height: 200px;
	background-color: orange;
	border-radius: 100px;
	position: relative;
	
	animation-name: moving;
	animation-duration: 2s;
	animation-delay:.5s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation: moving 2s ease-in-out  .5s infinite alternate;
}