@import url(reset.css);
*{
	box-sizing: border-box;
}
div{
	text-align: center;
	color: white;

}

header{
	display: flex;
	justify-content: center;
	font-family: Arial;
font-style: italic;
font-weight: bold;
font-size: 60px;
line-height: 69px;
/* identical to box height */

letter-spacing: -0.05em;
color: white;
background-color: red;
width: calc(100vw - 120px);
	margin:auto;
	margin-top:118px;
	margin-bottom: 157px;
}
.logo{
	width: calc(100vw - 20px);

}
body{
	background-color: black;
}
.categories{
	font-family: Space Mono;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 35px;
}
.nav{
	display: flex;
	align-items: center;
	height: 315px;
	width: 307px;
}
